$font-stack:    Helvetica, sans-serif;
$text-color: #ffffff;
$primary-bg-color: #020305;
$secondary-bg-color: #151c2c;
$button-color: #002677;
$primary-color: rgb(66,66,66);
$secondary-color: rgb(94, 94, 94);